<div style="margin-left:auto;margin-right:auto;width:700px;border:2px solid darkred;background-color:red;color:white;margin:10px;padding:10px;z-index:999;">
	<b>Piwik Trackingcode not included</b>
	<pre>
	Options                  :
		###TRACKEROPTIONS###
	config.piwik.piwik_host  : ###HOST###
	config.piwik.piwik_idsite: ###IDSITE###
	BEUSer logged in?        : ###BEUSER###
	</pre>
	Please note:<br>
	<ul>
		<li>If config.piwik.piwik_idsite is not set you will see this message</li>
		<li>If config.piwik.piwik_host is not set you will see this message</li>
	</ul>
</div>
